{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    
    "FORM_RECOGNIZER_STORAGE": "",
    "FORM_RECOGNIZER_API_KEY": "",
    "FORM_RECOGNIZER_MODEL_ID": "",
    "FORM_RECOGNIZER_ENDPOINT": "",
    
    "SENDGRID_API_KEY": "",
    "SENDGRID_FROM_ADDRESS": "",
    "EMAIL_TO_ADDRESSES": "",
    
    "ENDPOINT_AUTH_USER": "",
    "ENDPOINT_AUTH_PASS": "",
    "ENDPOINT_URI": "",
    "TOKEN_ENDPOINT_URI": "",

    "SQL_USERNAME": "",
    "SQL_PASSWORD": "",
    "SQL_SERVER_NAME": "",

    "RECEIVING_ORGANIZATION": ""
  }
}
